body{
    width: 100%;
    background-color: aquamarine ;
    img{
        width: 10%;
        position: absolute;
    }
    h1{
        padding: 20px 0px 10px 0px;
        text-align: center;
        font-family: cursive;
        font-size: 48px;
    }
    hr{
        width: 100%;
        background-color:black;
    }
    p{  
        display: flex;
        justify-content: center;
        margin: auto;
        width: 55%; 
        text-align: center;
        font-family: cursive;
        font-size: 18px;
        padding: 20px;
    }
    h2{
        text-align: center;
        font-family: cursive;
        font-size: 36px;
    }
    .video{
        display: flex;
        flex-direction: row;
        justify-content: center;
        // text-align: center;
        iframe{
            width: 33.33%;
            height: 100 vh;
            padding: 0 20px;
        }
    }
        
    a{  
        display: flex;
        justify-content: center;
        text-decoration: none;
        padding: 20px;

        button{
            width: 192px;
            height: 67px;
            background-color: #27ad6c;
            font-size: 18px;
            font-family: cursive;
            text-align: center;
            border: none;
            color: white;
            margin: auto;
            line-height: normal;
            border-radius: 5px;
            &:hover{
                background-color: seagreen;
                border-color: white;
                border-style: solid;
                cursor: pointer;
            }
        }
        

    }
    
    footer{
        width: 100%;
        padding: 7px;
        background-color: darkslategrey;
        color: gainsboro;
        font-family: cursive;
        font-size: medium;
    }
    
}